<nav class="navbar navbar-light">
    <a class="navbar-brand"><img src="assets/img/logo.jpg"></a>
    <div class="row">
        <div class="col-sm-12 ">
            <a style="color: red;"> Luis Fernando Abello Criales</a>
        </div>
        <div class="col-sm-12 ">
            <a> cc 1.140.869.190</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a class="estilo1"> Maestria/Civil Engineering</a>
            <a class="estilo1"> Politecnico Di Milano</a>
            <a class="estilo1"> Milano, Lombardia /Italia</a>
            <a class="estilo1"> COLFUTURO /PCB /2017</a>
        </div>
    </div>
</nav>